body {
    background-image: url('snsd tgt.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
table {
    background-color: pink;
    opacity: 1;
}
th, td {
    padding: 15px;
  }
#navbar {
    background-color: plum;
    
}

.maknae {
    width: 250px; height: auto;
}

img {
    width:250px;border-radius:50%;
    
}

h1{
    color: crimson;
}

h3{
    color:darkmagenta;
}
.btns {
    position: absolute;
    width:200px;
    top: 118%;
    left: 49%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: rosybrown;
    font-size: 16px;
    padding: 24px 24px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
  }


