body {
    background-image: url('snsd tgt.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
table {
    background-color: pink;
    opacity: 1;
}
th, td {
    padding: 15px;
  }
#navbar {
    background-color: plum;
    
}

.pic{
    width: 500px; 
    border-radius: 8px;
}

.img {
    width:250px;border-radius:50%;
    
}

h1{
    color: crimson;
}

h3{
    color:darkmagenta;
    background-color: turquoise;
}

p{
    color: darkslateblue;
    font-family:fantasy;
    text-align: left;
    font-size: larger;
}

/* information */

#album {
    position: relative;
    width: 50%;
  }
  
  .picture {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
  
  .container {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  #album:hover .picture {
    opacity: 0.3;
  }
  
  #album:hover .container {
    opacity: 1;
  }
  
  .text {
    background-color: lightpink;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

/*buttons*/
.btns {
    position: absolute;
    width:200px;
    top: 118%;
    left: 49%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: rosybrown;
    font-size: 16px;
    padding: 24px 24px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
  }

/*footer*/
footer{
    background-color: cyan;
    font-size: large;
}
